html
  head
    title Getting Started Extension's Popup
    link( type='text/css', rel='stylesheet', href="../css/popup.css" )
    script( src="../js/oauth.js" )
    script( src="../js/popup.js" )
  body
    header Plink

    footer
      p Plink chrome extension
      a( href="https://www.plink.nyc" ) www.plink.nyc
