@import "../../../node_modules/nib"

$blue = steelblue
$border-color = #f2f2f2
$red = hsl(353, 64%, 54%)
$gray = lightgrey
$dark-gray = #333
$light-gray = #aaa
$default-font-color = rgba(0,0,0,0.8)
$highlight = #4682B4
$font-family = "Open Sans", "Lucida Grande", Tahoma, sans-serif
